<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blazingraptor.recoveryinternational" version="0.2.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Recovery International (Unofficial App)</name>
    <description>
        The mission of Recovery International is to use the cognitive-behavioral, peer-to-peer, self-help training system developed by Abraham Low, MD, to help individuals gain skills to lead more peaceful and productive lives. The goal of this app is to make it easier to use the information on the Recovery International website. The links and information are being provided as a convenience and for informational purposes only; it does not constitute an endorsement or an approval by Recovery International of any of the products, services or opinions of the corporation or organization or individual. Recovery International and the developers of this App bears no responsibility for the accuracy, legality or content of this App or for that of subsequent links. Contact the external site for answers to questions regarding its content. We cannot be held responsible if using this App causes you to be abducted by aliens after use.
    </description>
    <author email="recovery@blazingraptor.com" href="http://www.blazingraptor.com">
        BlazingRaptor
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <icon src="favicon.png" />
    <access origin="*" />
</widget>
